<div class="change-password-form">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <label>
        Old Password:
        <input type="password" formControlName="oldPassword">
      </label>
      <label>
        New Password:
        <input type="password" formControlName="newPassword">
      </label>
      <button type="submit" [disabled]="!changePasswordForm.valid">Submit</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="success-message">{{successMessage}}</div>
  </div>